.header{
    display:flex ;
    justify-content: space-between;
    margin:10px;
    border:1px solid black ;
}

.name{
    padding-left: 20px;
    display:flex ;
    margin-left: 35px;
}
.food{

    padding-right: 15px;
}

.nav-items>ul{
    list-style-type: none;
    display:flex;
}
.nav-items>ul>li{
display:flex;
 padding:10px ;
}

.container
{
    height:100% ;
    max-width: 1200px;
    margin:0 auto ;
    padding:20px;
    display:flex;
    flex-wrap:wrap ;
}

.card{
    height:65% ;
    width: 250px;
    display:flex ;
    flex-direction: column;
    margin:20px 20px;
}
.foodImage img{
 height:200px;
 width:200px;
 aspect-ratio: auto; 
 border-radius: 12px;

}
.specifications{
  
    margin-bottom:2px;
    /* margin-top:10px; */
    height:50%;
   
}
.specifications h2{
    font-weight: bold;
    color:black;
}

.specifications h4{
    color:black;
    font-weight: lighter;
}
